<br>
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <button routerLink="/player/playerDetails/{{playerId}}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">CONSULTER</button>
      <button [routerLink]="['player/playerEdit']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">MODIFIER</button>
    </div>
  </div>
</nav>

<p *ngIf="!isUserConnected">Bienvenue étranger</p>
<p *ngIf="isUserConnected">Bienvenue {{nickname}}</p>
<router-outlet></router-outlet>