<p>player-edit works!</p>
<!-- <p>Sur cette page l'utilisateur pourra mettre à jour son profil</p> -->
<p>l'idée c'est d'afficher le profil du joueur dans "CONSULTER" et ici la page pour tout modifier</p>
<p>eventuellement faire une liste déroulante pour pas charger toute la page</p>
<ul>
    PROFIL
    <li>pseudo</li>
    <li>email</li>
    <li>mot de passe </li>
    <li>Date de naissance ne peut pas être modifiée</li>
</ul>
<br>
<br>
<ul>
    MOTS CLES
    <li>la liste des préférences mot clé</li>
</ul>
<br>
<ul>
    THEMES
    <li>la liste des préférences themes</li>
</ul>
<br>
