<div class="flex flex-col items-center v-screen mb-4">
    <h2 class="text-4xl font-extrabold dark:text-white">Découvrez les prochains évènements</h2>
</div>

<div class="flex flex-wrap justify-evenly">
    <div *ngFor="let event of eventList"
        class="w-1/4 mx-4 max-w-sm p-6 vert border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 my-5">
        <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{event.eventName}}</h5>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400">LE
            {{event.startTime | date : 'dd-MM-yyyy' }}</p>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400">DE {{ event.startTime | date :
            'HH:mm'}} A {{ event.endTime | date : 'HH:mm'}}</p>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400">CLOTURE LE
            {{event.registrationClosingDate| date : 'dd-MM-yyyy HH:mm' }}</p>
        <div class="flex flex-wrap justify-evenly">
            <button routerLink="/event/eventDetails/{{event.eventId}}"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white orange rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Plus de détails
            </button>
            <button *ngIf="isAdminConnected" routerLink="/event/eventEdit/{{event.eventId}}"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white orange rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Editer
            </button>
            <!-- fonction supprimer à implémenter -->
            <button *ngIf="isAdminConnected"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white orange rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Supprimer
            </button>
            <!-- fonction s'inscrire à implémenter -->
            <button *ngIf="isUserConnected"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white orange rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                S'inscrire
            </button>
            <button *ngIf="isAdminConnected && isUserConnected" routerLink="/event/eventCloture/{{event.eventId}}"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white orange rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Clôturer
            </button>
            <!-- ce bouton permettra à l'admin de cloturer l'évènement et si l'évènement est clôturé les joueurs pourront cliqué dessus pour avoir le résultat à mettre en place -->
        </div>
    </div>
</div>