<br>
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
        <button [routerLink]="['gameList']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">LISTE DES JEUX</button>
        <button *ngIf="isAdminConnected" [routerLink]="['gameCreate']" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">AJOUTER UN JEU</button>
    </div>
  </div>
</nav>
<!-- A mettre dans un component type Game-accueil 
    <div class="flex justify-center items-center">
    <img class="justify-center size-4/5" src="../../../../assets/lotsOfGames.jpg" alt="Tof dans sa ludotheque">
</div> -->






<router-outlet></router-outlet>