@font-face {
    font-family: 'Sedgwick';
    src: url('https://fonts.googleapis.com/css2?family=Caveat&family=Sedgwick+Ave+Display&display=swap') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Sedgwick", cursive;
}

.vertfonce {
    background-color: #65B741;
}