<h1 class="text-center text-5xl text-amber-500 my-5">Lu<span class="text-lime-400">tof</span>thèque</h1>

<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <button [routerLink]="['']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-3xl font-medium">🎲</button>
      <button [routerLink]="['/game']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">JEUX</button>
        <button [routerLink]="['/event/eventList']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">EVENEMENTS</button>
      <button *ngIf="isAdminConnected" [routerLink]="['/admin/userManagement']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">ADMINISTRATION</button>
      <button *ngIf="!isUserConnected" [routerLink]="['/auth/login']" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">SE
        CONNECTER</button>
      <button *ngIf="isUserConnected" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" (click)="disconnect()">SE
          DECONNECTER</button>
      <button *ngIf="isUserConnected" [routerLink]="['/player/playerDetails']"
          class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">MON PROFIL</button>
       
    </div>
  </div>
</nav>





