<h1 class="text-center text-5xl text-amber-500 my-5">Lu<span class="text-lime-400">tof</span>thèque</h1>

<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <a href=""
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-3xl font-medium">🎲</a>
      <a href="/game"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">JEUX</a>
        <a href="/event"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">EVENEMENTS</a>
      <a *ngIf="connectedUser?.member?.isAdmin" href="/admin/userManagement"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">ADMINISTRATION</a>
      <a *ngIf="!connectedUser" href="/auth/login" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">SE
        CONNECTER</a>
      <button *ngIf="connectedUser" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" (click)="logout()">SE
          DECONNECTER</button>
       
    </div>
  </div>
</nav>





