<div>
    <form [formGroup]="createForm" (ngSubmit)="createGame()">
        <p>Creation du jeu</p>

        <!-- gameName OK -->
        <div>
            <div>
                <label for="gameName">
                    NOM DU JEU
                </label>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('gameName')?.touched && createForm.get('gameName')?.errors?.['required']">Champs
                    requis</span>
            </div>
            <div>
                <input id="gameName" type="text" placeholder="Nom du jeu" formControlName="gameName">
            </div>
        </div>

        <!-- playerMin OK-->
        <div>
            <div>
                <label for="playersMin">
                    Nombre de joueurs minimum
                </label>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('playersMin')?.touched && createForm.get('playersMin')?.errors?.['required']">Champs
                    requis</span>
                <span class="text-primary text-red-600" *ngIf="createForm.get('playersMin')?.errors?.['min']">Minimum 1
                    joueur</span>
            </div>
            <div>
                <input id="playersMin" type="number" placeholder="joueurs minimum" formControlName="playersMin">
            </div>
        </div>

        <!-- playerMax OK -->
        <div>
            <div>
                <label for="playersMax">
                    Nombre de joueurs maximum
                </label>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('playersMax')?.touched && createForm.get('playersMax')?.errors?.['required']">Champs
                    requis</span>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('playersMax')?.errors?.['playersMaxInvalid']">Doit être supérieur ou égal au
                    nombre de joueurs minimum</span>
            </div>
            <div>
                <input id="playersMax" type="number" placeholder="joueurs maximum" formControlName="playersMax">
            </div>
        </div>

        <!-- AverageDuration OK -->
        <div>
            <div>
                <label for="averageDuration">
                    Durée du jeu
                </label>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('averageDuration')?.touched && createForm.get('averageDuration')?.errors?.['required']">Champs
                    requis</span>
            </div>
            <div>
                <input id="averageDuration" type="number" placeholder="durée du jeu en minutes"
                    formControlName="averageDuration">
            </div>
        </div>

        <!-- ageMin  OK-->
        <div>
            <div>
                <label for="ageMin">
                    age minimum
                </label>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('ageMin')?.touched && createForm.get('ageMin')?.errors?.['required']">Champs
                    requis</span>
            </div>
            <div>
                <input id="ageMin" type="number" placeholder="Age minimum" formControlName="ageMin">
            </div>
        </div>

        <!-- picture (trouver le moyen d'uploader l'image input type="file" ???)-->
        <div>
            <div>
                <label for="picture">
                    dessin du jeu
                </label>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('picture')?.touched && createForm.get('picture')?.errors?.['required']">Champs
                    requis</span>
            </div>
            <div>
                <!-- <input id="picture" type="file" placeholder="Dessin du jeu" formControlName="picture"> -->
                <input id="picture" type="file" (change)="onFileChange($event)">
            </div>
        </div>

        <!-- GameDescription -->
        <div>
            <div>
                <label for="gameDescription">
                    Description du jeu
                </label>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('gameDescription')?.touched && createForm.get('gameDescription')?.errors?.['required']">Champs
                    requis</span>
            </div>
            <div>
                <textarea id="gameDescription" rows="4" cols="150" placeholder="Description du jeu"
                    formControlName="gameDescription"></textarea>
            </div>
        </div>

        <!-- video -->
        <div>
            <div>
                <label for="video">
                    Lien video des regles (exemple de format correct : https://www.youtube.com/embed/YrhOP4IxXkU?si=f2jfQwovkcLJzuNV)
                </label>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('video')?.touched && createForm.get('video')?.errors?.['required']">Champs
                    requis</span>
            </div>
            <div>
                <input id="video" type="url" placeholder="Lien video des regles" formControlName="video">
            </div>
        </div>

        <!-- isExtention -->
        <div>
            <div>
                <label for="isExtension">
                    Est-ce une extention ? 
                </label>
                <span class="text-primary text-red-600"
                    *ngIf="createForm.get('isExtension')?.touched && createForm.get('isExtension')?.errors?.['required']">Champs
                    requis</span>
            </div>
            <div>
                <input id="isExtension" type="checkbox" formControlName="isExtension">
            </div>
        </div>



        <!-- fkThemeId -->

        <div>
            <div>
                <label for="fkThemeId">Theme du jeu</label>
            </div>
            <div>
                <select id="fkThemeId" formControlName="fkThemeId">
                    <option *ngFor="let theme of themeList" [value]="theme.themeId">
                        {{ theme.themeName }}
                    </option>
                </select>
            </div>
        </div>






        <!-- fkKeywordsId-->

        <div formArrayName="fkKeywordsId">
            <div>
                <div>mot-clés</div>
                <button type="button" (click)="addKeyword()">Ajoutez un mot-clé</button>
                <div *ngFor="let control of fkKeywordsId.controls; let i = index">
                    <label [for]="'ffkKeywordsId'+i">{{i+1}}</label>
                    <select [id]="'ffkKeywordsId'+i" [formControlName]="i">
                        <option *ngFor="let keyword of keywordList" [value]="keyword.keywordId">
                            {{ keyword.keywordName }}
                        </option>
                    </select>
                    <span (click)="removeKeyword(i)">❌</span>
                </div>

            </div>

        </div>


        <!-- Bouton valider -->
        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button
                    class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="submit">
                    Enregistrer le jeu
                </button>
            </div>
        </div>
    </form>
</div>