<div class="chapter">
    <div class="flex justify-center items-center h-screen">
        <div class="w-1/2 bg-white p-8 shadow-lg rounded-lg">
            <div>
                <h3 class="text-2xl font-bold mb-4">Créer un évènement :</h3>
                <form [formGroup]="createForm" (ngSubmit)="create()" class="space-y-4">
                    <label for="startTime" class="block text-sm font-medium text-gray-700">Date et heure de début</label>
                    <input type="datetime-local" placeholder="Date et heure de début" formControlName="startTime" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300">

                    <label for="endTime" class="block text-sm font-medium text-gray-700">Date et heure de fin</label>
                    <input type="datetime-local" placeholder="Date et heure de fin" formControlName="endTime" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300">

                    <label for="registrationClosingDate" class="block text-sm font-medium text-gray-700">Date de fin des inscriptions</label>
                    <input type="datetime-local" placeholder="Date de fin des inscriptions" formControlName="registrationClosingDate" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300">

                    <label for="eventName" class="block text-sm font-medium text-gray-700">Nom de l'évènement</label>
                    <input type="text" placeholder="Nom de l'évènement" formControlName="eventName" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300">
                    
                    <label for="eventDescription" class="block text-sm font-medium text-gray-700">Description de l'évènement</label>
                    <textarea id="eventDescription" placeholder="Description de l'évènement" formControlName="eventDescription" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300"></textarea>
                    <!-- <input type="textarea" placeholder="Description de l'évènement" formControlName="eventDescription" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300"> -->
                    <div>
                        <input class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" type="submit" value="Créer l'évènement">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- startTime : [null, [Validators.required]],
endTime : [null, [Validators.required]],
fkOrganizerId : [this.OrganizerId],
registrationClosingDate : [null, [Validators.required]],
eventName : [null, [Validators.required]],
eventDescription : [null, [Validators.required]] -->