<br>
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">

        <button *ngIf="isAdminConnected" [routerLink]="['/event/eventCreate']"
          class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">CREATION</button>
          
        <button [routerLink]="['/event/eventList']" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">LISTE</button>
      </div>
    </div>
  </nav>



<router-outlet></router-outlet>

