<p>ici on pourra modifier les dates et heures</p>
<p>on pourra cloturer l'évènement</p>
<p>on pourra ajouter un joueur</p>

<p>logique TS :</p>
<p>1. recuperer l'évènement et l'afficher</p>
<p>2. recuperer la liste de tous les joueurs inscrits et l'afficher</p>
<p>3. recuperer la liste des joueurs non-inscrits</p>
<p>4. ajouter une ❌ pour supprimer le joueur de la liste</p>
<p>5. créer un bouton ➕ on ajoute un joueur dans une liste déroulante</p>
<p>6. créer le bouton clotuer event pour afficher les jeux en dessous (en vrai je pense que je vais faire une page qui ne sert qu'à ça genre event détails)</p>

<p>ici me consentrer sur afficher l'evenement avec les joueurs et afficher le resultat</p>