<p>Game détail reprend </p>
<ul>
    <li>gameId : ne sera pas affiché</li>
    <li>gameName</li>
    <li>
        "playersMin": 2,
        "playersMax": 2,
        affiché dans la même ligne
    </li>
    <li>
        "averageDuration": 30,
    </li>
    <li>
        "ageMin": 9,
    </li>
    <li>
        "picture": "MrJack.png",
    </li>
    <li>
        "gameDescription": " ",
    </li>
    <li>
        "video": "https://www.youtube.com/watch?v=jcdbMv1qGV0",
    </li>
    <li>
        "isExtension": à afficher à coté du titre genre "7 Wonder Cities (Extension)
    </li>
    <li>
        "fkTheme": "enquête & mystère",
    </li>
    <li>
        "fkKeywords": [
        "guessing : présumer/supposer/déduire",
    </li>
    <li>
        "fkKeywords": [
        "jeu de placement",
    </li>
    <li>
        "fkKeywords": [
        "stratégie"
    </li>
</ul>
